
.footer {
  /*background: #D9D9D9;
  background: radial-gradient(circle, rgba(247, 247, 247, 1) 0%, rgba(218, 215, 214, 1) 100%);*/
  background: rgb(84, 84, 91);
  background: linear-gradient(90deg, rgba(84, 84, 91, 1) 0%, rgba(174, 174, 189, 1) 75%, rgba(92, 94, 106, 1) 100%);
  padding: 15px;
  margin-top: 50px;
  font-size: 16px;
  color: #04040a;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-link {
  color: #04040a;
  display: flex;
  align-items: center;
}


.footer-icon {
  margin-right: 10px;
}
